 #users {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 20px;
}

.users {
  width: 250px;
  height: 350px;
  background-color: whitesmoke;
  padding: 20px;
  border: 1px solid lightgray;
  border-radius: 10px;
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2), 0 6px 6px rgba(0, 0, 0, 0.1);
}

.users img {
  width: 100px;
  height: 100px;
  border-radius: 50%;
  object-fit: cover;
  border: 5px solid lightblue;
}

.users p {
  font-family: Arial, sans-serif;
  font-size: 16px;
  color: dimgray;
  margin-bottom: 10px;
}
